{% load static %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0CC46RVZC7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0CC46RVZC7');
</script>

<link rel="icon" href="{% static 'img/icon.png' %}">

<link rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.css' %}"
/>

<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<link rel="stylesheet"
      type="text/css"
      href="{% static 'css/custom.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand mb-0 h1">
                <img class="d-inline-block align-top" src="{% static 'img/logo.jpg' %}" width="auto" height="50" style="border-radius: 5px"/>
            </a>
            <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{% url 'home' %}" class="nav-link active">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Projects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="{% url 'personal_portfolio' %}" class="dropdown-item">Personal Portfolio</a></li>
                            <li><a href="{% url 'coding_puzzles' %}" class="dropdown-item">Coding Puzzles</a></li>
                            <li><a href="{% url 'esl' %}" class="dropdown-item">Electrostatic Loudspeaker</a></li>
                            <li><a href="#" class="dropdown-item">Impact Sensor</a></li>
                            <li><a href="#" class="dropdown-item">Reaction Monitor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'resume' %}" class="nav-link">
                            Resume
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="https://www.linkedin.com/in/preston-danielson/" class="nav-link">
                            LinkedIn
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="https://github.com/PDani96" class="nav-link">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary">
                <a href="{% url 'chess_app' %}" style="color:white; text-decoration:none;">Play Chess with me</a>
            </button>
            <button type="submit" class="btn btn-primary ms-3">
                <a href="mailto:preston@pdani.online" style="color:white; text-decoration:none;">Hire me</a>
            </button>
        </div>
    </nav>

    <div class="bg-image"
     style="background-image: url({% static 'img/leather.jpg' %});
            background-attachment: fixed;
            background-size: cover;">
        {% block content %}
        {% endblock %}
        <div class="row justify-content-center pt-5"></div>
    </div>
</body>
</html>