mark {
  background-color: rgb(166, 166, 166);
  border-radius: 5px;
  color: black;
}

.avatar-big {
    height:125px;
    width:125px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-small {
    height:50px;
    width:50px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-med {
    height:75px;
    width:75px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50%!important;
}

.card-container {
    display: grid;
    perspective: 700px;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-flip {
    display: grid; grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

.parallax-bg{
    background: #000;
    background: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.2)
        ),
        var(--url);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-fill {
    flex:1;
}

.col-border:after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 4px solid black;
    padding-left: 15px;
}


