{% extends "base.html" %}

{% load static %}

{% block title %}Preston Danielson | Engineer{% endblock %}

{% block content %}
    <div class="parallax-bg" style="background-size: 100% auto; --url: url({% static 'img/dallas_skyline.jpg' %});">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto card-container mt-5 mb-5">
                    <div class="card-flip">
                        <div class="card front" style="height: 300px; width: 525px; border-radius: 5px;">
                            <div class="container flex-fill p-3">
                                <div class="row flex-fill">
                                    <div class="col-4 align-self-center">
                                        <div class="avatar-big">
                                            <img class="avatar-img rounded-circle"
                                                 src="{% static 'img/headshot1.jpg' %}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <h4><b>Preston Danielson</b></h4>
                                        <p style="font-size: 0.875em">
                                            Electrical/Software Engineer<br>
                                            DFW Metroplex<br>
                                            (225) 301-4116<br>
                                            preston@pdani.online
                                        </p>
                                    </div>
                                </div>
                                <div class="row flex-fill mt-3">
                                    <div class="col-4">
                                        <h6 style="text-align: center;">Key Skills:</h6>
                                    </div>
                                    <div class="col-8">
                                        <p style="font-size: 0.875em">
                                            Agile Methodologies | Python | C# | <br>
                                            JavaScript | Java | HTML | CSS | JS | SQL | <br>
                                            C++ | PLC |  CAD | HMI | .NET | Linux
                                        </p>
                                    </div>
                                </div>
                                <div class="row flex-fill">
                                    <p style="text-align: center;"><b>Flip card for more</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="card back" style="height: 300px; width: 525px; border-radius: 5px;">
                            <div class="container flex-fill p-3">
                                <div class="row flex-fill">
                                    <h6>About me:</h6>
                                </div>
                                <div class="row flex-fill">
                                    <p style="font-size: 0.875em">
                                        Engineer with 8+ years of experience in software development for
                                        various industries. Looking for a role to continue growing my skills.
                                        Experienced in all phases of the Agile software development lifecycle
                                        supported by unit testing and Continuous Integration.
                                    </p>
                                </div>
                                <p></p>
                                <div class="row flex-fill">
                                    <h6>Interests:</h6>
                                </div>
                                <div class="row flex-fill">
                                    <p style="text-align: center; font-size: 0.875em;">
                                        <mark>automation</mark> <mark>aerospace</mark> <mark>robotics</mark> <mark>microcontrollers</mark>
                                    </p>
                                    <p style="text-align: center; font-size: 0.875em;">
                                        <mark>r&d</mark> <mark>ROS</mark>  <mark>product development</mark>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="parallax-bg rounded" style="--url: url({% static 'img/F35.jpg' %}); max-width: 80%; border-radius: 5px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card mt-5 mb-5 p-2" style="height: 400px; width:700px; border-radius: 5px;">
                        <div class="row flex-fill">
                            <div class="col-4 col-border align-self-center">
                                <img src="{%static 'img/raytheon.png' %}" class="img-fluid">
                            </div>
                            <div class="col-8 align-self-center">
                                <div class="card-body">
                                    <h5 class="card-title">Sr. Software Engineer</h5>
                                    <p class="card-text"><b>2021-2022</b></p>
                                    <br>
                                    <p class="card-text">
                                        Developed and maintained several applications for aircraft sensor functionality based on a Protobuf and OMS messaging service.
                                    </p>
                                    <br>
                                    <p class="card-text">
                                        <b>Skills Used:</b>
                                    </p>
                                    <div class="row flex-fill">
                                        <div class="col-6">
                                            <ul>
                                                <li>C++</li>
                                                <li>Python</li>
                                                <li>Docker</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>RedHat Linux</li>
                                                <li>Protobuf</li>
                                                <li>OMS</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="parallax-bg rounded" style="--url: url({% static 'img/boeing.jpg' %}); max-width: 80%; border-radius: 5px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card mt-5 mb-5 p-2" style="height: 400px; width:700px; border-radius: 5px;">
                        <div class="row flex-fill">
                            <div class="col-4 col-border align-self-center">
                                <img src="{%static 'img/apex-systems.png' %}" class="img-fluid">
                            </div>
                            <div class="col-8 align-self-center">
                                <div class="card-body">
                                    <h5 class="card-title">Engineering Consultant</h5>
                                    <p class="card-text"><b>2021-2022</b></p>
                                    <br>
                                    <p class="card-text">
                                        Sub-contracted work with Boeing Research and Development team to design a cobot platform for aircraft maintenance and manufacturing.
                                    </p>
                                    <br>
                                    <p class="card-text">
                                        <b>Skills Used:</b>
                                    </p>
                                    <div class="row flex-fill">
                                        <div class="col-6">
                                            <ul>
                                                <li>Python</li>
                                                <li>PLC (LD)</li>
                                                <li>AutoCAD</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>C++</li>
                                                <li>ROS</li>
                                                <li>FactoryTalk HMI</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="parallax-bg rounded" style="--url: url({% static 'img/package-sorting.jpg' %});  max-width: 80%; border-radius: 5px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card mt-5 mb-5 p-2" style="height: 400px; width:700px; border-radius: 5px;">
                        <div class="row flex-fill">
                            <div class="col-4 col-border align-self-center">
                                <img src="{%static 'img/siemens.jpg' %}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8 align-self-center">
                                <div class="card-body">
                                    <h5 class="card-title">Automation & Controls Engineer</h5>
                                    <p class="card-text"><b>2018-2021</b></p>
                                    <br>
                                    <p class="card-text">
                                        Designed and commissioned PLC controls and electrical panels for airport baggage handling systems and UPS parcel sorting systems.
                                    </p>
                                    <br>
                                    <p class="card-text">
                                        <b>Skills Used:</b>
                                    </p>
                                    <div class="row flex-fill">
                                        <div class="col-6">
                                            <ul>
                                                <li>C#</li>
                                                <li>Visual Basic</li>
                                                <li>AutoCAD</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>PLC (LD/FBD/ST)</li>
                                                <li>FactoryTalk HMI</li>
                                                <li>EPlan</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="parallax-bg rounded" style="--url: url({% static 'img/solar.jpg' %}); max-width: 80%; border-radius: 5px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card mt-5 mb-5 p-2" style="height: 400px; width:700px; border-radius: 5px;">
                        <div class="row flex-fill">
                            <div class="col-4 col-border align-self-center">
                                <img src="{%static 'img/sabre.png' %}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8 align-self-center">
                                <div class="card-body">
                                    <h5 class="card-title">Electrical Engineering Intern</h5>
                                    <p class="card-text"><b>2017-2018</b></p>
                                    <br>
                                    <p class="card-text">
                                        Designed and commissioned PLC controls systems to monitor and control environmental conditions of Battery Energy Storage Systems.
                                    </p>
                                    <br>
                                    <p class="card-text">
                                        <b>Skills Used:</b>
                                    </p>
                                    <div class="row flex-fill">
                                        <div class="col-6">
                                            <ul>
                                                <li>PLC (ST)</li>
                                                <li>HTML</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>JavaScript</li>
                                                <li>AutoCAD</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="parallax-bg rounded" style="--url: url({% static 'img/southwest.jpg' %}); max-width: 80%; border-radius: 5px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card mt-5 mb-5 p-2" style="height: 400px; width:700px; border-radius: 5px;">
                        <div class="row flex-fill">
                            <div class="col-4 col-border align-self-center">
                                <img src="{%static 'img/fenway-group.jpg' %}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8 align-self-center">
                                <div class="card-body">
                                    <h5 class="card-title">Software Engineer</h5>
                                    <p class="card-text"><b>2016-2017</b></p>
                                    <br>
                                    <p class="card-text">
                                        Programmer on a full-stack scrum development team to update and maintain enterprise web applications for Southwest Airlines.
                                    </p>
                                    <br>
                                    <p class="card-text">
                                        <b>Skills Used:</b>
                                    </p>
                                    <div class="row flex-fill">
                                        <div class="col-6">
                                            <ul>
                                                <li>C#</li>
                                                <li>Python</li>
                                                <li>Git</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>Java</li>
                                                <li>JavaScript</li>
                                                <li>SQL</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}