{% extends "base.html" %}

{% load static %}

{% block title %}Preston Danielson | Engineer{% endblock %}

{% block content %}
  <div class="row justify-content-center pt-5">
    <div class="col-7 align-self-center">
      <div class="card">
        <div class="card-body text-center">
          <h1>Personal Portfolio</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-7 align-self-center">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="projTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tech-tab" data-bs-toggle="tab" href="#technical-details" role="tab" aria-controls="technical-details">Technical Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="skills-tab" data-bs-toggle="tab" href="#skills" role="tab" aria-controls="skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sources-tab" data-bs-toggle="tab" href="#sources" role="tab" aria-controls="sources">Sources</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="projTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
              <p>
                This project is the website you are currently on!<br><br>

                Since most of my career I've worked on pre-existing projects, I started this to gain full experience from the beginning to the end of a project.
                I also started this as a way to learn more about <b>Web Development</b>, <b>Source Control</b>, <b>Continuous Integration</b>, and <b>Cloud Platforms</b> in general.
                This website was not created using any template or generation, it was all coded by me. Both <b>front and back end</b>, starting with nothing.<br><br>

                My current plan is to use this to showcase the experience I have gained throughout my career, as well as other personal projects I work on. However, I have no strict plans
                to keep it that way and may post other random stuff here as well. The end goal of this project is to have a place that I can grow and display my coding skills with what ever
                interesting ideas I come up with.<br><br>

                The code for this project, as well as all my other coding projects, can be found on my <a href="https://github.com/PDani96/Personal_Portfolio">GitHub</a>. I want to share
                and document my work here so that I am able to easily reference past work or to serve as an example for anyone looking to create something similar.
              <p>
            </div>
            <div class="tab-pane fade" id="technical-details" role="tabpanel" aria-labelledby="tech-tab">
              <p>
                When starting this website, the only thing I knew was that I wanted to use <b>Python</b> in creating it. Simply because I enjoy using Python and at the time had not used it for much
                more than basic scripting. So naturally, my research led me to the <b>Django Python Web Framework</b>. Not only was Django Python based, but it used a <b>Model-View-Template (MVT) design pattern</b>.
                This interested me because web applications I worked on in the past at Fenway Group used a similar, although slightly different, <b>Model-View-Controller (MVC) design pattern</b> like Apache Struts
                and ASP.NET. Both of which were very old and out-dated frameworks. So it was nice to use a modern framework that popular sites like Instagram, Spotify, and Pinterest use.<br><br>

                In an MVT framework, like in an MVC framework, the Model manages the data, database interactions, and business logic. The View is not the same as the view in MVC however,
                and it is actually more like the Controller. The View is responsible for receiving user input and responding with the correct response. Much of what was done with Controllers
                in MVC is done already in the MVT framework itself. Lastly, the Template is responsible for rendering the data passed from the View in the form of an <b>HTML</b> web page.<br><br>

                After making an initial and very basic webpage, I realized the website was pretty ugly. So, I researched what <b>CSS</b> frameworks that other big websites using Django used and
                <b>Bootstrap</b> came up often. So I chose that, and it is what has allowed me to make the UI more bearable.<br><br>

                Once it looked pretty enough, I wanted to have it hosted on the web and came across <b>Heroku</b>, which is an affordable <b>Cloud Platform as a Service (PaaS)</b> owned by Salesforce
                with a lot of support specifically for Python and Django. Essentially, Heroku hosts and manages <b>UNIX containers</b> that are running <b>gunicorn HTTP servers</b>
                for Python web apps like mine. Heroku refers to these containers as <b>dynos</b>. Heroku also has very convenient <b>Continuous Integration (CI)</b> set up with <b>GitHub</b>
                so that I can easily deploy my application to the server after committing changes.<br><br>

                As I grew the website, I had an increasing amount of media like images and videos I wanted to post to the website. So I also set up <b>WhiteNoise</b> which is a Python library
                that simplifies serving these "static files". This should optimize the loading of these files through the use of compression and caching.<br><br>

                After all of that, I bought a domain name on <b>SquareSpace Domains</b> so that I can have a custom URL to share with people. Heroku allows me to add my custom domain to my web app and
                supplies me with a <b>DNS target</b>. This DNS target is needed to configure my domain using SquareSpace so that my web app is displayed when visiting www.pdani.online.
              </p>
            </div>
            <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
              <div class="row flex-fill justify-content-center">
                <div class="col-6">
                  <ul>
                    <li>Django</li>
                    <li>Bootstrap</li>
                    <li>HTML</li>
                    <li>Git</li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul>
                    <li>Python</li>
                    <li>CSS</li>
                    <li>Heroku</li>
                    <li>Javascript</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="sources" role="tabpanel" aria-labelledby="sources-tab">
              <div class="row flex-fill justify-content-center">
                <div class="col-12">
                  <ol>
                    <li><a href="https://docs.djangoproject.com/en/5.1/">Django Web Framework Docs</a></li>
                    <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap Docs</a></li>
                    <li><a href="https://whitenoise.readthedocs.io/en/stable/index.html">WhiteNoise Docs</a></li>
                    <li><a href="https://devcenter.heroku.com/categories/python-support">Heroku - Python Docs</a></li>
                  </ol>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-4">
      <div class="card mt-4">
        <a href="https://www.djangoproject.com/">
          <img class="card-img-top" src="{%static 'img/django.png' %}">
        </a>
        <div class="card-body">
          <p class="card-text">Django Python Based Web Framework</p>
        </div>
      </div>
      <div class="card mt-4">
        <a href="https://www.jetbrains.com/pycharm/">
          <img class="card-img-top" src="{%static 'img/pycharm.png' %}">
        </a>
        <div class="card-body">
          <p class="card-text">PyCharm for the IDE</p>
        </div>
      </div>
      <div class="card mt-4">
        <a href="https://www.heroku.com/">
          <img class="card-img-top" src="{%static 'img/heroku.png' %}">
        </a>
        <div class="card-body">
          <p class="card-text">Heroku Cloud Platform for Hosting the Application.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mt-4">
        <a href="https://getbootstrap.com/">
          <img class="card-img-top" src="{%static 'img/bootstrap.png' %}">
        </a>
        <div class="card-body">
          <p class="card-text">Bootstrap Library for HTML, CSS, and JS.</p>
        </div>
      </div>
      <div class="card mt-4">
        <a href="https://github.com/">
          <img class="card-img-top" src="{%static 'img/github.png' %}">
        </a>
        <div class="card-body">
          <p class="card-text">GitHub for Source Control and CI</p>
        </div>
      </div>
      <div class="card mt-4">
        <a href="https://www.geeksforgeeks.org/difference-between-mvc-and-mvt-design-patterns/">
          <img class="card-img-top" src="{%static 'img/design_patterns.png' %}">
        </a>
        <div class="card-body">
          <p class="card-text">MVT vs MVC Framework</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}