{% load static %}

<link rel="icon" href="{% static 'img/icon.png' %}">

<link rel="stylesheet"
      type="text/css"
      href="{% static 'website/css/bootstrap.css' %}"
/>

<script src="{% static 'website/js/bootstrap.js' %}"></script>
<script src="{% static 'website/js/custom.js' %}"></script>

<link rel="stylesheet"
      type="text/css"
      href="{% static 'website/css/custom.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand mb-0 h1">
                <img class="d-inline-block align-top" src="{% static 'img/logo.jpg' %}" width="auto" height="50" style="border-radius: 10px"/>
            </a>
            <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{% url 'home' %}" class="nav-link active">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Projects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="#" class="dropdown-item">Project #1</a></li>
                            <li><a href="#" class="dropdown-item">Project #2</a></li>
                            <li><a href="#" class="dropdown-item">Project #3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'resume' %}" class="nav-link">
                            Resume
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="https://www.linkedin.com/in/preston-danielson-eit-1844b9103/" class="nav-link">
                            LinkedIn
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="https://github.com/PDani96" class="nav-link">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <button type="submit" class="btn btn-primary">Contact me</button>
            </form>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>